---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'
import Hero from '../components/Hero.astro'
import SobreNosotros from '../components/SobreNosotros.astro'
import AsombroCreativo from '../components/AsombroCreativo.astro'
import Marcas from '../components/Marcas.astro'
import Servicios from '../components/Servicios.astro'
import Contactenos from '../components/Contactenos.astro'
import Footer from '../components/Footer.astro'
import WhatsAppButton from '../components/WhatsAppButton.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar/>
		<Hero/>
		<SobreNosotros/>
		<AsombroCreativo/>
		<Marcas/>
		<Servicios/>
		<Contactenos/>
		<Footer/>
		<WhatsAppButton/>
	</main>
</Layout>
