---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'
import Hero from '../components/Hero.astro'
import SobreNosotros from '../components/SobreNosotros.astro'
import AsombroCreativo from '../components/AsombroCreativo.astro'

---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar/>
		<Hero/>
		<SobreNosotros/>
		<AsombroCreativo/>
	</main>
</Layout>

<style>

</style>
