---
import Card from '../components/reactComponents/Card'
---

<div id="AsombroCreativo" class=" w-screen h-auto mt-[6rem] lg:mt-[3rem]">
    <div class=" lg:flex lg:flex-row lg:justify-center lg:items-center md:w-screen">
        <div class=" text-center lg:text-left ml-[4rem]">
            <p class=" font-medium">La creatividad es todo</p>
             <h1 class=" text-xl font-bold lg:w-[435px] mt-[1rem] mb-[2rem]">Asombro creativo</h1>
        </div>
        <p class=" font-light px-3  my-[2rem]  text-center md:text-[1.1rem] md:mx-[8rem] lg:text-left  lg:w-[400px]">
            Respiramos publicidad, vivimos en ella, la hacemos realidad y la explotamos al máximo nivel con cada formato integral que muestra lo que tu marca tiene para ofrecer a los clientes. 
        </p>
    </div>
    <div class="swiper-container h-auto w-full pb-[100px]">
        <div class=" h-auto flex flex-col justify-center items-center lg:flex lg:flex-row lg:justify-center">
            <Card title="Marketing digital" client:load/>
            <Card title="Diseño grafico" client:load/>
        </div>
        <div class=" h-auto flex flex-col justify-center items-center lg:flex lg:flex-row lg:justify-center">
            <Card title="Logos" client:load/>
            <Card title="Video" client:load/>
        </div>
        <div class=" h-auto flex flex-col justify-center items-center lg:flex lg:flex-row lg:justify-center">
            <Card title="Campañas" client:load/>
            <Card title="Equipo" client:load/>
        </div>
    </div>
</div>



<style>
</style>