---
import Form from '../components/reactComponents/form/Form'
---

<div id="contactenos" class="bg-gray h-screen flex flex-col justify-center items-center">
  <h2 class="text-3xl font-bold">Contactenos</h2>
  <p class="text-sm flex text-center mx-10">
    Envíanos un email y nuestro equipo te dará una respuesta
  </p>
  <Form client:load/>
  
</div>
