---
import Form from '../components/reactComponents/form/Form'
---

<div id="contactenos" class="bg-gray h-screen flex flex-col justify-center items-center">
  <h2 class="text-3xl font-bold">Contactenos</h2>
  <p class="text-sm">
    Envíanos un email y nuestro equipo te dará una respuesta
  </p>
  <!-- <div
    class="m-5 flex h-[80px] w-auto bg-white/40 p-2 lg:h-[80px] lg:w-[702px] items-center justify-between rounded-[35px]"
  >
    <div class="flex flex-row flex-wrap">
      <input
        type="text"
        inputmode="text"
        required
        placeholder="Nombre"
        class="bg-transparent ml-[1.5rem] placeholder:text-black text-black focus:outline-none font-poppins text-sm"
      />
    </div>
  </div>
  <div class="m-5 flex h-[80px] w-auto bg-white/40 p-2 lg:h-[80px] lg:w-[702px] items-center justify-between rounded-[35px]">
    <div class="flex flex-row flex-wrap">
      <input
        type="text"
        inputmode="text"
        required
        placeholder="Correo electronico"
        class="bg-transparent ml-[1.5rem] placeholder:text-black text-black focus:outline-none font-poppins text-sm"
      />
    </div>
  </div>
  <div class="m-5 flex h-[80px] w-auto bg-white/40 p-2 lg:h-[80px] lg:w-[702px] items-center justify-between rounded-[35px]">
    <div class="flex flex-row flex-wrap">
      <input
        type="text"
        inputmode="email"
        required
        placeholder="Asunto..."
        class="bg-transparent ml-[1.5rem] placeholder:text-black text-black focus:outline-none font-poppins text-sm w-full"
      />
    </div>
  </div>
  <button class=" bg-black mt-[2rem] text-white py-[0.6rem] px-[3rem] rounded-full">
    Enviar
  </button> -->
  <Form client:load/>
  
  
</div>
