---
import { FaFacebook } from "react-icons/fa";
import { BsInstagram } from "react-icons/bs";
import { FaPhoneSquareAlt } from "react-icons/fa";
import { MdEmail } from "react-icons/md";


---


<div class=" flex flex-col bg-black text-white h-auto lg:py-20 lg:flex lg:flex-row lg:justify-center lg:items-center lg:flex-wrap">
    <div class=" columns-1  text-center border-b-2  border-dimGray lg:columns-3  lg:py-8">
      <div class=" lg:flex lg:flex-col lg:justify-start lg:items-start  lg:h-72 py-3 my-6 lg:my-0">
        <div>
          <p class="  lg:text-left font-medium text-[26px]">Asombro</p>
          <p class=" text-center lg:text-left font-medium text-[18px] my-4">Danos tu marca,crece con nosotros</p>
        </div>
        <div class=" flex flex-row justify-center mt-8 lg:mt-[7rem] space-x-8 items-center lg:flex lg:flex-row lg:space-x-4">
          <a href="https://www.facebook.com/asombrohn?locale=es_LA" target="_blank" class=" text-xl"><FaFacebook/></a>
          <a href="https://www.instagram.com/asombrohn/" target="_blank" href="#" class=" text-xl"><BsInstagram/></a>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center  lg:h-72 lg:flex-col lg:justify-start lg:items-center lg:space-y-3">
        <strong class="w-[30%] text-center lg:text-left">Menu</strong>
        <a href="#hero" class="w-[30%] text-center lg:text-left">Inicio</a>
        <a href="#QuienesSomos" class="w-[30%] text-center lg:text-left">Quienes Somos<a>
        <a href="#AsombroCreativo" class="w-[40%] text-center lg:text-left lg:pl-[1.2rem]">Asombro creativo</a>
        <a href="#marcas" class="w-[30%] text-center lg:text-left">Marcas</a>
        <a href="#servicios" class="w-[30%] text-center lg:text-left">Servicios</a>
        <a href="#contactenos" class=" w-[30%] text-center lg:text-left">Contacto</a>
      </div>
      <div class=" py-3 space-y-4 flex flex-col justify-center items-center lg:h-72 lg:mx-12 lg:flex lg:flex-col lg:justify-around lg:items-start">
        <p class=" font-bold">Contactanos</p>
        <div class=" flex flex-row  py-2 space-x-10">
            <a class=" text-xl" 
            href="https://wa.me/33433290?text=Estoy%20interesado%20en%20sus%20servicios"
            target="_blank"
            ><FaPhoneSquareAlt /></a>
            <a class=" text-[2.6rem]"
            href="mailto:asombro.proyectos@gmail.com"><MdEmail/></a>
        </div>
        <p class=" w-[279px] text-center lg:text-left">Tegucigalpa, Barrio Guadalupe </p>
      </div>
    </div>
    <div class="w-screen flex flex-col lg:flex lg:flex-row lg:justify-between lg:px-44 py-10">
      <p class="text-center">
        <strong>© 2024 Asombro.</strong>Todos los derechos reservados
      </p>
    </div>
  </div>