---
import { Image } from "astro:assets"
import logo from '../images/logo-jordan-wordmark-BLK 1.png'
---

<div id="marcas" class=" h-auto w-screen lg:h-[50vh] my-[4rem] lg:flex lg:flex-col lg:justify-center lg:items-center">
    <h2 class=" font-bold text-center text-xl">Marcas que confían en asombro</h2>
    <div class=" lg:w-full  mt-[4rem] grid grid-cols-2 md:grid-cols-2 md:gap-7 lg:flex lg:flex-row lg:justify-center lg:items-center">
        <div class="rounded-full mx-auto lg:mx-8 h-[120px] w-[120px] lg:h-[140px] lg:w-[140px]  flex items-center justify-center shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
            <Image class="logo" src={logo} alt="logo"/>
        </div>
        <div class="rounded-full mx-auto lg:mx-8 h-[120px] w-[120px] lg:h-[140px] lg:w-[140px]   flex items-center justify-center shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
            <Image class="logo" src={logo} alt="logo"/>
        </div>
        <div class="rounded-full mx-auto lg:mx-8 h-[120px] w-[120px] lg:h-[140px] lg:w-[140px]   flex items-center justify-center shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
            <Image class="logo" src={logo} alt="logo"/>
        </div>
        <div class="rounded-full mx-auto lg:mx-8 h-[120px] w-[120px] lg:h-[140px] lg:w-[140px]   flex items-center justify-center shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
            <Image class="logo" src={logo} alt="logo"/>
        </div>
    </div>
</div>


<style>

    .logo{
        height: 90px;
        width: 90px;
    }
</style>