---
import logo from '/src/images/logo (2).png'
import { Image } from 'astro:assets'
---


<nav class=" flex flex-row my-8">
    <div class="  w-[20%] flex justify-end ">
        <Image class=' w-[50px] h-[50px] fixed' src={logo} alt={'logo'} />
    </div>
        <div class=" w-full fixed flex justify-end items-center space-x-8 px-[12%] ">
            <a>Inicio</a>
            <a>Quienes somos</a>
            <a>Asombro Creativo</a>
            <a>Marcas</a>
            <a>Servicios</a>
            <a>Contacto</a> 
        </div>
</nav>


<style>

</style>