---
import { FaWhatsapp } from "react-icons/fa";
---


<div class="bg-[#f1f1f1] z-10  m-3 shadow-lg fixed  bottom-0 right-0  ml-5 text-center flex items-center justify-center  h-[80px] w-[80px] rounded-full border-2 border-white object-cover object-center hover:z-10 focus:z-10">
    <a target="_blank" href="https://wa.me/33433290    ">
      <i class=" cursor-pointer text-center justify-center items-center text-3xl text-[#128C7E]">
        <FaWhatsapp/>
      </i>
    </a>
  </div>